src/.vs/
src/WpfApp1/bin/
src/WpfApp1/obj/
src/PasswordEvaluatorTests/bin/
src/PasswordEvaluatorTests/obj/
src/PasswordEvaluatorLib/bin/
src/PasswordEvaluatorLib/obj/
src/PasswordEvaluatorLib/.vs/
src/ValidationLib/bin
src/ValidationLib/obj
src/validationLibTest/bin
src/validationLibTest/obj
